In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset=pd.read_csv("E commerce dataset.csv")
dataset

,CustomerID,Churn,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,PreferredPaymentMode,Gender,HourSpendOnApp,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,MaritalStatus,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
0,50001,1,4.0,Mobile Phone,3,6.0,Debit Card,Female,3.0,3,Laptop & Accessory,2,Single,9,1,11.0,1.0,1.0,5.0,160
1,50002,1,NaN,Phone,1,8.0,UPI,Male,3.0,4,Mobile,3,Single,7,1,15.0,0.0,1.0,0.0,121
2,50003,1,NaN,Phone,1,30.0,Debit Card,Male,2.0,4,Mobile,3,Single,6,1,14.0,0.0,1.0,3.0,120
3,50004,1,0.0,Phone,3,15.0,Debit Card,Male,2.0,4,Laptop & Accessory,5,Single,8,0,23.0,0.0,1.0,3.0,134
4,50005,1,0.0,Phone,1,12.0,CC,Male,NaN,3,Mobile,5,Single,3,0,11.0,1.0,1.0,3.0,130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5625,55626,0,10.0,Computer,1,30.0,Credit Card,Male,3.0,2,Laptop & Accessory,1,Married,6,0,18.0,1.0,2.0,4.0,151
5626,55627,0,13.0,Mobile Phone,1,13.0,Credit Card,Male,3.0,5,Fashion,5,Married,6,0,16.0,1.0,2.0,NaN,225
5627,55628,0,1.0,Mobile Phone,1,11.0,Debit Card,Male,3.0,2,Laptop & Accessory,4,Married,3,1,21.0,1.0,2.0,4.0,186
5628,55629,0,23.0,Computer,3,9.0,Credit Card,Male,4.0,5,Laptop & Accessory,4,Married,4,0,15.0,2.0,2.0,9.0,179
5629,55630,0,8.0,Mobile Phone,1,15.0,Credit Card,Male,3.0,2,Laptop & Accessory,3,Married,4,0,13.0,2.0,2.0,3.0,169

In [3]:
dataset.isna().sum()

CustomerID                       0
Churn                            0
Tenure                         264
PreferredLoginDevice             0
CityTier                         0
WarehouseToHome                251
PreferredPaymentMode             0
Gender                           0
HourSpendOnApp                 255
NumberOfDeviceRegistered         0
PreferedOrderCat                 0
SatisfactionScore                0
MaritalStatus                    0
NumberOfAddress                  0
Complain                         0
OrderAmountHikeFromlastYear    265
CouponUsed                     256
OrderCount                     258
DaySinceLastOrder              307
CashbackAmount                   0
dtype: int64

In [4]:
def Quanqual(dataset):
        qual=[]
        quan=[]
        for columnName in dataset.columns:
            if (dataset[columnName].dtypes=="O"):
                qual.append(columnName)
            else:
                quan.append(columnName)
        return quan,qual

In [5]:
quan,qual=Quanqual(dataset)
dataset[quan]

,CustomerID,Churn,Tenure,CityTier,WarehouseToHome,HourSpendOnApp,NumberOfDeviceRegistered,SatisfactionScore,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
0,50001,1,4.0,3,6.0,3.0,3,2,9,1,11.0,1.0,1.0,5.0,160
1,50002,1,NaN,1,8.0,3.0,4,3,7,1,15.0,0.0,1.0,0.0,121
2,50003,1,NaN,1,30.0,2.0,4,3,6,1,14.0,0.0,1.0,3.0,120
3,50004,1,0.0,3,15.0,2.0,4,5,8,0,23.0,0.0,1.0,3.0,134
4,50005,1,0.0,1,12.0,NaN,3,5,3,0,11.0,1.0,1.0,3.0,130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5625,55626,0,10.0,1,30.0,3.0,2,1,6,0,18.0,1.0,2.0,4.0,151
5626,55627,0,13.0,1,13.0,3.0,5,5,6,0,16.0,1.0,2.0,NaN,225
5627,55628,0,1.0,1,11.0,3.0,2,4,3,1,21.0,1.0,2.0,4.0,186
5628,55629,0,23.0,3,9.0,4.0,5,4,4,0,15.0,2.0,2.0,9.0,179
5629,55630,0,8.0,1,15.0,3.0,2,3,4,0,13.0,2.0,2.0,3.0,169

In [6]:
def Univariate(dataset,quan):
    descriptive=pd.DataFrame(index=["mean","median","mode","Q1:25th","Q2:50th",
                                    "Q3:75th","99th","Q4:100th","IQR","min","max",
                                    "lower whister","upper whister","skewness","kurtosis","var","std"],columns=quan)
    for columnName in quan:
        descriptive[columnName]["mean"]=dataset[columnName].mean()
        descriptive[columnName]["median"]=dataset[columnName].median()
        descriptive[columnName]["mode"]=dataset[columnName].mode()[0]
        descriptive[columnName]["Q1:25th"]=dataset.describe()[columnName]["25%"]
        descriptive[columnName]["Q2:50th"]=dataset.describe()[columnName]["50%"]
        descriptive[columnName]["Q3:75th"]=dataset.describe()[columnName]["75%"]
        descriptive[columnName]["99th"]=np.percentile(dataset[columnName],99)
        descriptive[columnName]["Q4:100th"]=dataset.describe()[columnName]["max"]
        descriptive[columnName]["IQR"]=descriptive[columnName]["Q3:75th"]-descriptive[columnName]["Q1:25th"]
        descriptive[columnName]["min"]=dataset.describe()[columnName]["min"]
        descriptive[columnName]["max"]=dataset.describe()[columnName]["max"]
        descriptive[columnName]["lower whister"]=descriptive[columnName]["Q1:25th"]-(1.5*descriptive[columnName]["IQR"])
        descriptive[columnName]["upper whister"]=descriptive[columnName]["Q3:75th"]+(1.5*descriptive[columnName]["IQR"])
        descriptive[columnName]["skewness"]=dataset[columnName].skew()
        descriptive[columnName]["kurtosis"]=dataset[columnName].kurtosis()
        descriptive[columnName]["var"]=dataset[columnName].var()
        descriptive[columnName]["std"]=dataset[columnName].std()
    return descriptive

In [7]:
descriptive=Univariate(dataset,quan)
descriptive

,CustomerID,Churn,Tenure,CityTier,WarehouseToHome,HourSpendOnApp,NumberOfDeviceRegistered,SatisfactionScore,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
mean,52815.5,0.168384,10.189899,1.654707,15.639896,2.931535,3.688988,3.066785,4.214032,0.284902,15.707922,1.751023,3.008004,4.543491,177.221492
median,52815.5,0.0,9.0,1.0,14.0,3.0,4.0,3.0,3.0,0.0,15.0,1.0,2.0,3.0,163.0
mode,50001,0,1.0,1,9.0,3.0,4,3,2,0,14.0,1.0,2.0,3.0,148
Q1:25th,51408.25,0.0,2.0,1.0,9.0,2.0,3.0,2.0,2.0,0.0,13.0,1.0,1.0,2.0,146.0
Q2:50th,52815.5,0.0,9.0,1.0,14.0,3.0,4.0,3.0,3.0,0.0,15.0,1.0,2.0,3.0,163.0
Q3:75th,54222.75,0.0,16.0,3.0,20.0,3.0,4.0,4.0,6.0,1.0,18.0,2.0,3.0,7.0,196.0
99th,55573.71,1.0,NaN,3.0,NaN,NaN,6.0,5.0,11.0,1.0,NaN,NaN,NaN,NaN,318.71
Q4:100th,55630.0,1.0,61.0,3.0,127.0,5.0,6.0,5.0,22.0,1.0,26.0,16.0,16.0,46.0,325.0
IQR,2814.5,0.0,14.0,2.0,11.0,1.0,1.0,2.0,4.0,1.0,5.0,1.0,2.0,5.0,50.0
min,50001.0,0.0,0.0,1.0,5.0,0.0,1.0,1.0,1.0,0.0,11.0,0.0,1.0,0.0,0.0
max,55630.0,1.0,61.0,3.0,127.0,5.0,6.0,5.0,22.0,1.0,26.0,16.0,16.0,46.0,325.0
lower whister,47186.5,0.0,-19.0,-2.0,-7.5,0.5,1.5,-1.0,-4.0,-1.5,5.5,-0.5,-2.0,-5.5,71.0
upper whister,58444.5,0.0,37.0,6.0,36.5,4.5,5.5,7.0,12.0,2.5,25.5,3.5,6.0,14.5,271.0
skewness,0.0,1.772843,0.736513,0.735326,1.619154,-0.027213,-0.396969,-0.142626,1.088639,0.953347,0.790785,2.545653,2.196414,1.191,1.149595
kurtosis,-1.2,1.143377,-0.007369,-1.401529,9.98693,-0.667076,0.582849,-1.125136,0.959229,-1.091518,-0.280381,9.132281,4.718466,4.023964,0.973546
var,2641877.5,0.140055,73.226373,0.837938,72.786069,0.521177,1.048573,1.904937,6.674914,0.203769,13.509193,3.58959,8.641716,13.354882,2420.036738
std,1625.385339,0.37424,8.557241,0.915389,8.531475,0.721926,1.023999,1.380194,2.583586,0.451408,3.675485,1.894621,2.93968,3.654433,49.193869

In [8]:
def outliers():
    L_outliers=[]
    G_outliers=[]
    for columnName in quan:
        if(descriptive[columnName]["min"]<descriptive[columnName]["lower whister"]):
            L_outliers.append(columnName)
        if(descriptive[columnName]["max"]>descriptive[columnName]["upper whister"]):
            G_outliers.append(columnName)    
    return L_outliers,G_outliers

In [9]:
dataset['HourSpendOnApp'].value_counts()

3.0    2687
2.0    1471
4.0    1176
1.0      35
0.0       3
5.0       3
Name: HourSpendOnApp, dtype: int64

In [10]:
dataset['HourSpendOnApp'].fillna(dataset['HourSpendOnApp'].median(),inplace=True)

In [11]:
dataset['Tenure'].fillna(dataset['Tenure'].median(),inplace=True)

In [12]:
dataset['WarehouseToHome'].fillna(dataset['WarehouseToHome'].median(),inplace=True)

In [13]:
dataset['OrderAmountHikeFromlastYear'].fillna(dataset['OrderAmountHikeFromlastYear'].median(),inplace=True)

In [14]:
dataset['CouponUsed'].fillna(0.0,inplace=True)

In [15]:
dataset['OrderCount'].fillna(0.0,inplace=True)

In [16]:
dataset['DaySinceLastOrder'].fillna(dataset['DaySinceLastOrder'].median(),inplace=True)

In [17]:
df=print(dataset[quan])

      CustomerID  Churn  Tenure  CityTier  WarehouseToHome  HourSpendOnApp  \
0          50001      1     4.0         3              6.0             3.0
1          50002      1     9.0         1              8.0             3.0
2          50003      1     9.0         1             30.0             2.0
3          50004      1     0.0         3             15.0             2.0
4          50005      1     0.0         1             12.0             3.0
...          ...    ...     ...       ...              ...             ...
5625       55626      0    10.0         1             30.0             3.0
5626       55627      0    13.0         1             13.0             3.0
5627       55628      0     1.0         1             11.0             3.0
5628       55629      0    23.0         3              9.0             4.0
5629       55630      0     8.0         1             15.0             3.0

      NumberOfDeviceRegistered  SatisfactionScore  NumberOfAddress  Complain  \
0                            3                  2                9         1
1                            4                  3                7         1
2                            4                  3                6         1
3                            4                  5                8         0
4                            3                  5                3         0
...                        ...                ...              ...       ...
5625                         2                  1                6         0
5626                         5                  5                6         0
5627                         2                  4                3         1
5628                         5                  4                4         0
5629                         2                  3                4         0

      OrderAmountHikeFromlastYear  CouponUsed  OrderCount  DaySinceLastOrder  \
0                            11.0         1.0         1.0                5.0
1                            15.0         0.0         1.0                0.0
2                            14.0         0.0         1.0                3.0
3                            23.0         0.0         1.0                3.0
4                            11.0         1.0         1.0                3.0
...                           ...         ...         ...                ...
5625                         18.0         1.0         2.0                4.0
5626                         16.0         1.0         2.0                3.0
5627                         21.0         1.0         2.0                4.0
5628                         15.0         2.0         2.0                9.0
5629                         13.0         2.0         2.0                3.0

      CashbackAmount
0                160
1                121
2                120
3                134
4                130
...              ...
5625             151
5626             225
5627             186
5628             179
5629             169

[5630 rows x 15 columns]

In [18]:
df2=dataset[qual]

In [19]:
df2

,PreferredLoginDevice,PreferredPaymentMode,Gender,PreferedOrderCat,MaritalStatus
0,Mobile Phone,Debit Card,Female,Laptop & Accessory,Single
1,Phone,UPI,Male,Mobile,Single
2,Phone,Debit Card,Male,Mobile,Single
3,Phone,Debit Card,Male,Laptop & Accessory,Single
4,Phone,CC,Male,Mobile,Single
...,...,...,...,...,...
5625,Computer,Credit Card,Male,Laptop & Accessory,Married
5626,Mobile Phone,Credit Card,Male,Fashion,Married
5627,Mobile Phone,Debit Card,Male,Laptop & Accessory,Married
5628,Computer,Credit Card,Male,Laptop & Accessory,Married
5629,Mobile Phone,Credit Card,Male,Laptop & Accessory,Married

In [20]:
dataset=[dataset[quan],df2]

In [21]:
preprocessed=pd.concat(dataset,axis=1)

In [22]:
preprocessed

,CustomerID,Churn,Tenure,CityTier,WarehouseToHome,HourSpendOnApp,NumberOfDeviceRegistered,SatisfactionScore,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount,PreferredLoginDevice,PreferredPaymentMode,Gender,PreferedOrderCat,MaritalStatus
0,50001,1,4.0,3,6.0,3.0,3,2,9,1,11.0,1.0,1.0,5.0,160,Mobile Phone,Debit Card,Female,Laptop & Accessory,Single
1,50002,1,9.0,1,8.0,3.0,4,3,7,1,15.0,0.0,1.0,0.0,121,Phone,UPI,Male,Mobile,Single
2,50003,1,9.0,1,30.0,2.0,4,3,6,1,14.0,0.0,1.0,3.0,120,Phone,Debit Card,Male,Mobile,Single
3,50004,1,0.0,3,15.0,2.0,4,5,8,0,23.0,0.0,1.0,3.0,134,Phone,Debit Card,Male,Laptop & Accessory,Single
4,50005,1,0.0,1,12.0,3.0,3,5,3,0,11.0,1.0,1.0,3.0,130,Phone,CC,Male,Mobile,Single
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5625,55626,0,10.0,1,30.0,3.0,2,1,6,0,18.0,1.0,2.0,4.0,151,Computer,Credit Card,Male,Laptop & Accessory,Married
5626,55627,0,13.0,1,13.0,3.0,5,5,6,0,16.0,1.0,2.0,3.0,225,Mobile Phone,Credit Card,Male,Fashion,Married
5627,55628,0,1.0,1,11.0,3.0,2,4,3,1,21.0,1.0,2.0,4.0,186,Mobile Phone,Debit Card,Male,Laptop & Accessory,Married
5628,55629,0,23.0,3,9.0,4.0,5,4,4,0,15.0,2.0,2.0,9.0,179,Computer,Credit Card,Male,Laptop & Accessory,Married
5629,55630,0,8.0,1,15.0,3.0,2,3,4,0,13.0,2.0,2.0,3.0,169,Mobile Phone,Credit Card,Male,Laptop & Accessory,Married

In [23]:
preprocessed.isna().sum()

CustomerID                     0
Churn                          0
Tenure                         0
CityTier                       0
WarehouseToHome                0
HourSpendOnApp                 0
NumberOfDeviceRegistered       0
SatisfactionScore              0
NumberOfAddress                0
Complain                       0
OrderAmountHikeFromlastYear    0
CouponUsed                     0
OrderCount                     0
DaySinceLastOrder              0
CashbackAmount                 0
PreferredLoginDevice           0
PreferredPaymentMode           0
Gender                         0
PreferedOrderCat               0
MaritalStatus                  0
dtype: int64

In [24]:
preprocessed.to_csv("pre-E_comm")